/** Built over Angular's sample project styles */

:host {
	--col-primary: #A5F1E9;
	--col-secondary: #7FE9DE;
	--col-tertiary: #FFF6BF;
	--col-quaternary: #f0d78e;
	--col-font: rgb(10, 36, 44);
	--col-font-hlight: rgb(57, 170, 207);
}

h1 {
	padding: 1em 0;
	font-size: 3.125rem;
	color: var(--col-font-hlight);
	font-weight: 500;
	line-height: 100%;
	letter-spacing: -0.125rem;
	margin: 0;
	font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";
}

p {
	margin: 0;
	color: var(--gray-700);
}

main {
	margin: 1vw 5vw;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 1rem;
	box-sizing: inherit;
	position: relative;
}

.content {
	display: flex;
	/* justify-content: space-around; */
	width: 100%;
	max-width: 1280px;
	margin-bottom: 3rem;
}

.content h1 {
	margin-top: 1.75rem;
}

.content p {
	margin-top: 1.5rem;
}

.left-side {
	flex: 1;
}

.right-side {
	flex: 3;
}

.divider {
	width: 1px;
	background: var(--col-quaternary);
	margin-inline: 0.5rem;
}

.pill-group {
	display: flex;
	flex-direction: column;
	align-items: end;
	flex-wrap: wrap;
	gap: 1.25rem;
}

.pill {
	display: flex;
	text-align: end;
	align-items: center;
	--pill-accent: var(--bright-blue);
	background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
	color: var(--pill-accent);
	padding-inline: 0.75rem;
	padding-block: 0.375rem;
	border-radius: 2.75rem;
	border: 0;
	transition: background 0.3s ease;
	font-family: var(--inter-font);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4rem;
	letter-spacing: -0.00875rem;
	text-decoration: none;
}

.pill:hover {
	background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
	--pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
	--pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
	--pill-accent: var(--hot-red);
}

.pill-group svg {
	margin-inline-start: 0.25rem;
}

.social-links {
	display: flex;
	align-items: center;
	gap: 0.73rem;
	margin-top: 1.5rem;
}

.social-links path {
	transition: fill 0.3s ease;
	fill: var(--gray-400);
}

.social-links a:hover svg path {
	fill: var(--gray-900);
}



/** From GUI class */

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: no-repeat url('https://upload.wikimedia.org/wikipedia/commons/7/73/Beach_at_Fort_Lauderdale.jpg') 80% 40% fixed;
}



.home {
	padding-right: 1em;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
	width: fit-content;
	cursor: pointer;
	z-index: 1;
}



body > main {
	flex: 1;
	background: rgba(255, 255, 255, 0.6);
	padding: 1em;
}

.fa {
	padding: 0.5em;
}

.p {
	color: black;
}

button {
	/* background: var(--col-secondary); */
	border-color: var(--col-primary);
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}

@media (max-width: 800px) {
	.main {
		flex-direction: column;
	}
}